<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.recipe.mapper.RecipeMapper">

	<select id="selectRecipeList" resultType="com.life.recipe.vo.RecipeVO">
	    SELECT
	        R.RECIPE_ID,
	        R.MEMBER_ID,
	        R.TITLE,
	        R.THUMBNAIL_URL,
	        R.CREATED_AT,
	        C.CATEGORY_NAME
	    FROM RECIPE R
	    LEFT JOIN RECIPE_CATEGORY C
	        ON R.CATEGORY_ID = C.CATEGORY_ID
	    WHERE 1=1
	
	    <if test="keyword != null and keyword != ''">
	        AND R.TITLE LIKE '%' || #{keyword} || '%'
	    </if>
	
	    <if test="categoryId != null">
	        AND R.CATEGORY_ID = #{categoryId}
	    </if>
	
	    ORDER BY R.RECIPE_ID DESC
	</select>
	
	<select id="selectCategoryList" resultType="com.life.recipe.vo.RecipeCategoryVO">
		SELECT * FROM RECIPE_CATEGORY
	</select>
	
	
	<!--레시피 등록 Recipe 테이블 -->
	<insert id="insertRecipe" parameterType="com.life.recipe.vo.RecipeVO">
	    <selectKey keyProperty="recipeId" resultType="long" order="BEFORE">
	        SELECT SEQ_RECIPE.NEXTVAL FROM DUAL
	    </selectKey>
	
	    INSERT INTO RECIPE (
	        RECIPE_ID,
	        MEMBER_ID,
	        CATEGORY_ID,
	        TITLE,
	        THUMBNAIL_URL
	    ) VALUES (
	        #{recipeId},
	        #{memberId},
	        #{categoryId},
	        #{title},
	        #{thumbnailUrl}
	    )
	</insert>
	
	<!--레시피 블록 여러 개 등록 -->
	<insert id="insertRecipeBlock">
	    INSERT INTO RECIPE_BLOCK (
	        BLOCK_ID,
	        RECIPE_ID,
	        BLOCK_TYPE,
	        CONTENT,
	        SORT_ORDER
	    )
	    VALUES (
	        SEQ_RECIPE_BLOCK.NEXTVAL,
	        #{recipeId},
	        #{blockType},
	        #{content},
	        #{sortOrder}
	    )
	</insert>
	
	<!-- 레시피 상세 보기 -->
	<select id="viewRecipeDetail" resultType="com.life.recipe.vo.RecipeVO">
	    SELECT 
	        R.RECIPE_ID,
	        R.MEMBER_ID,
	        R.TITLE,
	        R.CREATED_AT,
	
	        B.BLOCK_ID,
	        B.BLOCK_TYPE,
	        B.CONTENT,
	        B.SORT_ORDER
	
	    FROM RECIPE R
	    LEFT JOIN RECIPE_BLOCK B
	        ON R.RECIPE_ID = B.RECIPE_ID
	    WHERE R.RECIPE_ID = #{recipeId}
	    ORDER BY B.SORT_ORDER
	</select>

	<!-- 레시피 수정 로직-->
	<update id="updateRecipe">
	    UPDATE RECIPE
	    SET TITLE = #{title}
	    WHERE RECIPE_ID = #{recipeId}
	</update>
	
	<delete id="deleteBlocksByRecipeId">
	    DELETE FROM RECIPE_BLOCK
	    WHERE RECIPE_ID = #{recipeId}
	</delete>
	
	<!-- 이미지 변경 -->
	<update id="updateBlockContent">
	    UPDATE RECIPE_BLOCK
	    SET CONTENT = #{content}
	    WHERE BLOCK_ID = #{blockId}
	</update>
	
	
	<delete id="deleteRecipe">
	    DELETE FROM RECIPE
	    WHERE RECIPE_ID = #{recipeId}
	</delete>
	
</mapper>