<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.recipe.mapper.RecipeMapper">

   <!-- =========================
         1. 리스트
    ========================= -->
    <!-- 레시피 리스트 -->
	<select id="selectRecipeList" resultType="com.life.recipe.vo.RecipeVO">
	    SELECT
	        R.RECIPE_ID,
	        R.MEMBER_ID,
	        R.TITLE,
	        R.THUMBNAIL_URL,
	        R.CREATED_AT,
	        R.DESCRIPTION,
	        R.COOKING_TIME,
	        R.SERVINGS,
	        R.DIFFICULTY,
	        C.CATEGORY_NAME,
	
	        (SELECT COUNT(*)
	         FROM RECIPE_LIKE L
	         WHERE L.RECIPE_ID = R.RECIPE_ID) AS LIKECOUNT,
	
	        (SELECT COUNT(*)
	         FROM RECIPE_LIKE L2
	         WHERE L2.RECIPE_ID = R.RECIPE_ID
	           AND L2.MEMBER_ID = #{memberId, jdbcType=NUMERIC}) AS LIKED,
	
	        (SELECT COUNT(*)
	         FROM RECIPE_BOOKMARK B2
	         WHERE B2.RECIPE_ID = R.RECIPE_ID
	           AND B2.MEMBER_ID = #{memberId, jdbcType=NUMERIC}) AS BOOKMARKED
	
	    FROM RECIPE R
	    LEFT JOIN RECIPE_CATEGORY C
	        ON R.CATEGORY_ID = C.CATEGORY_ID
	
	    WHERE 1=1
	
	    <if test="keyword != null and keyword != ''">
	        AND R.TITLE LIKE '%' || #{keyword} || '%'
	    </if>
	
	    <if test="categoryId != null">
	        AND R.CATEGORY_ID = #{categoryId}
	    </if>
	
	    ORDER BY R.RECIPE_ID DESC
	</select>
		
	<!-- 카테고리 리스트 -->
	<select id="selectCategoryList" resultType="com.life.recipe.vo.RecipeCategoryVO">
		SELECT * FROM RECIPE_CATEGORY
	</select>
	
   <!-- =========================
         2. 레시피 등록
    ========================= -->
	<!-- 레시피 등록 Recipe 테이블 -->
	<insert id="insertRecipe" parameterType="com.life.recipe.vo.RecipeVO">
	    <selectKey keyProperty="recipeId" resultType="long" order="BEFORE">
	        SELECT SEQ_RECIPE.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO RECIPE (
	        RECIPE_ID,
	        MEMBER_ID,
	        CATEGORY_ID,
	        TITLE,
	        DESCRIPTION,
	        COOKING_TIME,
	        SERVINGS,
	        DIFFICULTY,
	        THUMBNAIL_URL
	    ) VALUES (
	        #{recipeId},
	        #{memberId},
	        #{categoryId},
	        #{title},
	        #{description},
	        #{cookingTime},
	        #{servings},
	        #{difficulty},
	        #{thumbnailUrl}
	    )
	</insert>
	
	<!--레시피 블록 여러 개 등록 -->
	<insert id="insertRecipeBlock">
	    INSERT INTO RECIPE_BLOCK (
	        BLOCK_ID,
	        RECIPE_ID,
	        BLOCK_TYPE,
	        CONTENT,
	        SORT_ORDER
	    )
	    VALUES
	    (
	       	SEQ_RECIPE_BLOCK.NEXTVAL,
	        #{recipeId},
	        #{blockType},
	        #{content},
	        #{sortOrder}
	    )
	   
	</insert>
	
	<!-- 재료 등록-->
	<insert id="insertIngredient">
	    INSERT INTO RECIPE_INGREDIENT (
	        INGREDIENT_ID,
	        RECIPE_ID,
	        NAME,
	        AMOUNT
	    )
	    VALUES
	    (
	         SEQ_RECIPE_INGREDIENT.NEXTVAL,
	         #{recipeId},
	         #{name},
	         #{amount}
	    )
	</insert>
	
	 <!-- =========================
         3. 상세조회
    ========================= -->
   <!-- 레시피 상세조회 -->
	<select id="selectRecipe" resultType="com.life.recipe.vo.RecipeVO">
		SELECT
		    R.RECIPE_ID,
		    R.MEMBER_ID,
		    R.TITLE,
		    R.DESCRIPTION,
		    R.CREATED_AT,
		    R.COOKING_TIME,
		    R.DIFFICULTY,
		    R.SERVINGS,
		    R.THUMBNAIL_URL,
		
		    C.CATEGORY_ID,
		    C.CATEGORY_NAME,
		
		    (SELECT COUNT(*)
		     FROM RECIPE_LIKE L
		     WHERE L.RECIPE_ID = R.RECIPE_ID) AS LIKECOUNT
		
		FROM RECIPE R
		LEFT JOIN RECIPE_CATEGORY C
		    ON R.CATEGORY_ID = C.CATEGORY_ID
		
		WHERE R.RECIPE_ID = #{recipeId}
	</select>

	<!-- 블록 상세조회 -->
    <select id="selectRecipeBlocks" resultType="com.life.recipe.vo.RecipeBlockVO">
        SELECT
            BLOCK_ID,
            RECIPE_ID,
            BLOCK_TYPE,
            CONTENT,
            SORT_ORDER
        FROM RECIPE_BLOCK
        WHERE RECIPE_ID = #{recipeId}
        ORDER BY SORT_ORDER
    </select>


    <!-- 재료 상세조회 -->
    <select id="selectIngredients" resultType="com.life.recipe.vo.RecipeIngredientVO">
        SELECT
            INGREDIENT_ID,
            RECIPE_ID,
            NAME,
            AMOUNT
        FROM RECIPE_INGREDIENT
        WHERE RECIPE_ID = #{recipeId}
        order by INGREDIENT_ID
    </select>


   <!-- 좋아요 / 북마크 상태 -->
	<select id="selectRecipeStatus" resultType="com.life.recipe.vo.RecipeVO">
		SELECT
		    CASE
		        WHEN #{memberId} IS NULL THEN 0
		        WHEN EXISTS (
		            SELECT 1
		            FROM RECIPE_LIKE
		            WHERE RECIPE_ID = #{recipeId}
		              AND MEMBER_ID = #{memberId}
		        ) THEN 1
		        ELSE 0
		    END AS liked,
		
		    CASE
		        WHEN #{memberId} IS NULL THEN 0
		        WHEN EXISTS (
		            SELECT 1
		            FROM RECIPE_BOOKMARK
		            WHERE RECIPE_ID = #{recipeId}
		              AND MEMBER_ID = #{memberId}
		        ) THEN 1
		        ELSE 0
		    END AS bookmarked
		FROM DUAL
	</select>
    
<!-- =========================
         4. 수정
    ========================= -->

	<!-- 레시피 수정 로직-->
	<update id="updateRecipe">
	    UPDATE RECIPE
	    SET TITLE = #{title}
	    WHERE RECIPE_ID = #{recipeId}
	</update>
	
	<!-- 이미지 변경 -->
	<update id="updateBlockContent">
	    UPDATE RECIPE_BLOCK
	    SET CONTENT = #{content}
	    WHERE BLOCK_ID = #{blockId}
	</update>
	
<!-- =========================
         5. 삭제
    ========================= -->
	<!-- 레시피 삭제 -->
	<delete id="deleteRecipe">
	    DELETE FROM RECIPE
	    WHERE RECIPE_ID = #{recipeId}
	</delete>
	
	<!-- 재료 삭제 -->
	<delete id="deleteIngredients">
	    DELETE FROM RECIPE_INGREDIENT
	    WHERE RECIPE_ID = #{recipeId}
	</delete>
	
    <!-- 좋아요 삭제 -->
    <delete id="deleteRecipeLike">
        DELETE FROM RECIPE_LIKE
        WHERE RECIPE_ID = #{recipeId}
    </delete>
    
     <!-- 북마크 삭제 -->
    <delete id="deleteRecipeBookmark">
        DELETE FROM RECIPE_BOOKMARK
        WHERE RECIPE_ID = #{recipeId}
    </delete>
    
    <!-- 레시피 블록 삭제 -->
    <delete id="deleteBlocksByRecipeId">
	    DELETE FROM RECIPE_BLOCK
	    WHERE RECIPE_ID = #{recipeId}
	</delete>
	
	
	<!-- =========================
         5. 좋아요/북맠 
    ========================= -->
	<!-- 좋아요 존재 여부 -->
    <select id="existsLike" resultType="int">
        SELECT COUNT(*)
        FROM RECIPE_LIKE
        WHERE MEMBER_ID = #{memberId}
        AND RECIPE_ID = #{recipeId}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="insertLike">
        INSERT INTO RECIPE_LIKE (
            LIKE_ID,
            MEMBER_ID,
            RECIPE_ID
        )
        VALUES (
            SEQ_RECIPE_LIKE.NEXTVAL,
            #{memberId},
            #{recipeId}
        )
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLike">
        DELETE FROM RECIPE_LIKE
        WHERE MEMBER_ID = #{memberId}
        AND RECIPE_ID = #{recipeId}
    </delete>


    <!-- 북마크 존재 여부 -->
    <select id="existsBookmark" resultType="int">
        SELECT COUNT(*)
        FROM RECIPE_BOOKMARK
        WHERE MEMBER_ID = #{memberId}
        AND RECIPE_ID = #{recipeId}
    </select>

    <!-- 북마크 추가 -->
    <insert id="insertBookmark">
        INSERT INTO RECIPE_BOOKMARK (
            BOOKMARK_ID,
            MEMBER_ID,
            RECIPE_ID
        )
        VALUES (
            SEQ_RECIPE_BOOKMARK.NEXTVAL,
            #{memberId},
            #{recipeId}
        )
    </insert>

    <!-- 북마크 삭제 -->
    <delete id="deleteBookmark">
        DELETE FROM RECIPE_BOOKMARK
        WHERE MEMBER_ID = #{memberId}
        AND RECIPE_ID = #{recipeId}
    </delete>
	
</mapper>