<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.life.mapper.EmailAuthMapper">

    <insert id="insertAuth">
        INSERT INTO EMAIL_AUTH
        (AUTH_ID, EMAIL, AUTH_CODE, EXPIRE_TIME, VERIFIED)
        VALUES
        (SEQ_EMAIL_AUTH.NEXTVAL, #{email}, #{authCode}, SYSDATE + (5/1440), 'N')
    </insert>

    <select id="checkAuth" resultType="com.life.member.vo.EmailAuthVO">
        SELECT *
        FROM EMAIL_AUTH
        WHERE EMAIL = #{email}
        AND AUTH_CODE = #{authCode}
        AND EXPIRE_TIME > SYSDATE
    </select>

    <update id="updateVerified">
        UPDATE EMAIL_AUTH
        SET VERIFIED = 'Y'
        WHERE EMAIL = #{email}
    </update>

    <select id="isVerified" resultType="int">
        SELECT COUNT(*)
        FROM EMAIL_AUTH
        WHERE EMAIL = #{email}
        AND VERIFIED = 'Y'
    </select>

    <delete id="deleteByEmail">
        DELETE FROM EMAIL_AUTH WHERE EMAIL = #{email}
    </delete>

</mapper>